body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5DC; /* Soft cream background */
    font-family: 'Roboto', sans-serif; /* Updated font */
}

nav {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    background-color: #FFA07A; /* Lighter shade of orange */
}

nav a {
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: #8B4513; /* Deep brown text */
    transition: color 0.5s ease; /* Transition for hover effect */
}

nav a:hover {
    color: #A0522D; /* Darker shade on hover */
}

#red-ball {
    background-color: #8B4513; /* Darker brown ball */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 5vw;
    top: 0;
    animation: bounce 5s infinite linear;
}

@keyframes bounce {
    0%, 100% { left: 5vw; }
    50% { left: 95vw; }
}

img {
    width: 30vw;
    height: 30vh;
}
