body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-container {
    position: relative;
    max-width: 100%;
}

.game-image {
    width: 100%;
    height: auto;
    display: block;
}

.scoreboard-overlay {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    font-family: 'Arial', sans-serif;
    z-index: 2;
}

.info-overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    z-index: 2;
}

.team {
    margin: 0 20px;
    text-align: center;
}

.team-name {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.score {
    font-size: 2em;
    font-weight: bold;
}

.info p {
    margin: 5px 0;
    font-size: 1em;
}
